# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

assets/*
!assets/driver
!assets/virus
!assets/chengdu_3_osm.json
!assets/new_orders_first_1000.csv
# Dependency directories (remove the comment below to include it)
# vendor/